.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
}

.header {
  background-color: #1c1c1c;
  padding: 10px;
  text-align: center;
}

.header img {
  max-width: 100px;
}

.main {
  flex-grow: 1;
  padding: 20px;
  width: 600px;

}

.errorText {
  font-size: 14px;
  color: red;
  margin-left: 20px;
}
